/* 전체 스타일 초기화 */
* {
    margin: 0;
    padding: 0;
    font: normal 12px '돋움';
}
ul, ol {list-style: none;}
a {text-decoration: none; color: #111;}

#container {
    width: 980px;
    height: auto;
    margin: 0 auto;
}

/* 헤더영역 */
header {
    position: relative;
    width: 100%;
    height: 142px;
    background-image: url('../images/head_top_line.png');
    background-repeat: no-repeat;
}

header > .logo {
    position: absolute;
    left: 50%;
    top: 20px;
    margin-left: -95px;
}
header > p {
    float: right;
    margin-top: 16px;
}
header > img {
    float: right;
    clear: both;
    margin-top: 26px;
}

header > .gnb {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 50px;
}
header > .gnb > li {
    float: left;
    width: 20%;
    height: 100%;
    background-image: url('../images/head_menu_line.png');
    background-repeat: no-repeat;
    background-position: 0 -6px;
}

header > .gnb > li > a {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    font-size: 0;
    background-position: 0 6px;
    background-repeat: no-repeat;
}

header > .gnb > li > a > img {
    position: absolute;
    left: 50%;
    top: -16px;
}

header > .gnb > li:nth-child(1) > a {background-image: url('../images/head_menu1.png');}
header > .gnb > li:nth-child(2) > a {background-image: url('../images/head_menu2.png');}
header > .gnb > li:nth-child(3) > a {background-image: url('../images/head_menu3.png');}
header > .gnb > li:nth-child(4) > a {background-image: url('../images/head_menu4.png');}
header > .gnb > li:nth-child(5) > a {background-image: url('../images/head_menu5.png');}

header > .gnb > li:nth-child(1) > a:hover {background-image: url('../images/head_menu1_ov.png');}
header > .gnb > li:nth-child(2) > a:hover {background-image: url('../images/head_menu2_ov.png');}
header > .gnb > li:nth-child(3) > a:hover {background-image: url('../images/head_menu3_ov.png');}
header > .gnb > li:nth-child(4) > a:hover {background-image: url('../images/head_menu4_ov.png');}
header > .gnb > li:nth-child(5) > a:hover {background-image: url('../images/head_menu5_ov.png');}



/* 푸터영역 */
footer {
    width: 100%;
    height: 120px;
    margin-top: 10px;
    border-top: 1px solid #d1cab2;
    box-sizing: border-box;
}

footer > p {
    float: right;
    font-size: 11px;
    color: #585858;
    margin-top: 26px;
    margin-right: 16px;
    line-height: 18px;
}
footer > p > em {
    color: #888;
    font-weight: bold;
}

/* 메인(index) */
main {
    width: 100%;
    height: auto;
}

main > div {
    width: 100%;
    margin-top: 10px;
}

/* 메인 - slider */
main > .slider {
    position: relative;
    height: 312px;
    overflow: hidden;
}

main > .slider > img {
    position: absolute;
    left: 40px;
    top: 40px;
}

main > .slider > .banner {
    position: absolute;
    right: 0;
    top: 0;
    width: 230px;
    height: 312px;
    background-image: url('../images/main_banner_bg.jpg');
}

main > .slider > .banner > img:nth-child(1) {
    float: right;
    margin: 10px;
}
main > .slider > .banner > img:nth-child(2) {
    margin-top: -20px;
    margin-left: 10px;
}
main > .slider > .banner > img:nth-child(3) {
    margin-left: 10px;
}


.bx-wrapper {            
    box-shadow: none;
    border: none;
    background: #fff;
}

/* 메인 - quick */
main > .quick {
    height: 74px;
    overflow: hidden;
}

main > .quick > a {
    float: left;
    display: block;
    width: 50%;
    height: 100%;
    padding: 16px;
    box-sizing: border-box;
}
main > .quick > a:nth-child(1) {background-image: url('../images/main_banner_sub1_bg.jpg');}
main > .quick > a:nth-child(2) {background-image: url('../images/main_banner_sub2_bg.jpg');}

/* 메인 - latest */
main > .latest {
    height: 186px;
    overflow: hidden;
}

main > .latest > div {
    position: relative;
    float: left;
    width: 33.33%;
    height: 100%;
}

main > .latest > div > a {
    position: absolute;
    left: 0;
    top: 16px;
}
main > .latest > div > img {
    position: absolute;
    left: 0;
    bottom: 16px;
}
main > .latest table {
    position: absolute;
    right: 10px;
    bottom: 16px;
    color: #6a6a6a;
}
main > .latest table tr > td > a{
    display: block;
    width: 140px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 18px;  
    color: #6a6a6a;
}

/* 메인 - info */
main > .info {
    height: 154px;
    overflow: hidden;
    padding: 10px 0;
    border-top: 2px solid #756c65;
    box-sizing: border-box;
}

main > .info > div {
    float: left;
    height: 100%;
}
main > .info > div:nth-child(1) {
    width: 386px;
}
main > .info > div:nth-child(2) {
    width: 230px;
    padding-left: 16px;
    border-left: 1px solid #d7d7d7;
    border-right: 1px solid #d7d7d7;
    box-sizing: border-box;
}
main > .info > div:nth-child(3) {
    width: 360px;
    padding-left: 10px;
    box-sizing: border-box;
}

main > .info > div > .tit {
    margin-bottom: 16px;
}

main > .info > div > .tel {
    overflow: hidden;
}
main > .info > div > .tel > * {
    float: left;
    margin-right: 16px;
}

main > .info > div > .tel > .time {
    line-height: 18px;
    color: #666;
}

main > .info > div > .btns {
    margin-top: 16px;
}

main > .info > div > .account {
    line-height: 18px;
    color: #666;
}


/* 탭 커스텀 */
.ui-widget.ui-widget-content {
    border: none;
}
.ui-corner-all, .ui-corner-bottom, .ui-corner-right, .ui-corner-br {
    border-bottom-right-radius: 0px;
}
.ui-corner-all, .ui-corner-bottom, .ui-corner-left, .ui-corner-bl {
    border-bottom-left-radius: 0px;
}
.ui-corner-all, .ui-corner-top, .ui-corner-right, .ui-corner-tr {
    border-top-right-radius: 0px;
}
.ui-corner-all, .ui-corner-top, .ui-corner-left, .ui-corner-tl {
    border-top-left-radius: 0px;
}
.ui-widget-content {
    border: none;
    background: #ffffff;
    color: #222222;
}
.ui-widget-header {
    border: none;
    border-bottom: 1px solid #aaaaaa;
    background: none;
    color: #222222;
    font-weight: bold;
}

.ui-tabs .ui-tabs-nav {
    margin: 0;
    padding: 0;
}

.ui-tabs .ui-tabs-panel {
    padding: 10px;
}

#tabs .txt > li {    
    border-bottom: 1px solid #d1d1d1;
    line-height: 26px;
}

#tabs .txt > li > a {
    color: #666;
}


/* 서브페이지 공통 */
#sub {
    width: 100%;
    height: auto;
}

#sub > div {
    position: relative;
    width: 100%;
    height: 184px;
    background-image: url('../images/sub_top_bg.jpg');
}

#sub > div > img {
    position: absolute;
    left: 10px;
    bottom: 10px;
}

#sub > section {
    width: 100%;
    height: auto;
    overflow: hidden;
}
#sub > section > aside {
    float: left;
    width: 176px;
    height: 650px;
    background-image: url('../images/sub_aside_bg_line.png');
    background-repeat: no-repeat;
    background-position: right;
}

#sub > section > aside > img {
    margin: 16px;
}

#sub > section > aside > ul {
    width: 175px;
    height: 233px;
    background-image: url('../images/sub_aside_bg_lnb.png');
    padding-top: 26px;
    box-sizing: border-box;
}
#sub > section > aside > ul > li {
    width: 100%;
    height: 29px;
    margin-bottom: 6px;            
}
#sub > section > aside > ul a {
    display: block;
    width: 100%;
    height: 100%;
    font-size: 0;
}

#sub > section > article {
    float: left;
    width: 802px;
    min-height: 650px;
    padding-left: 40px;
    box-sizing: border-box;
}

#sub > section > article > nav {
    position: relative;
    width: 100%;
    height: 72px;
    margin-bottom: 40px;
    border-bottom: 1px solid #c2c2c2;
    box-sizing: border-box;
}
#sub > section > article > nav > img {
    position: absolute;
    left: 0;
    bottom: 4px;
}
#sub > section > article > nav > p {
    position: absolute;
    right: 0;
    bottom: 4px;
    color: #8c8c8c;
    padding-left: 20px;
    box-sizing: border-box;
    background-image: url(../img/sub_page_nav_ico.gif);
    background-repeat: no-repeat;
    background-position: 10px;
}
#sub > section > article > nav > p > em {
    font-weight: bold;
    color: #91BA15;
}

/* 팜스토리 소개 */
#sub > .introduction .lnb > li:nth-child(1) > a {background-image: url('../images/sub_cate1_lnb1.png');}
#sub > .introduction .lnb > li:nth-child(2) > a {background-image: url('../images/sub_cate1_lnb2.png');}
#sub > .introduction .lnb > li:nth-child(1) > a:hover {background-image: url('../images/sub_cate1_lnb1_ov.png');}
#sub > .introduction .lnb > li:nth-child(2) > a:hover {background-image: url('../images/sub_cate1_lnb2_ov.png');}
#sub > .introduction .lnb > li:nth-child(1).on > a {background-image: url('../images/sub_cate1_lnb1_ov.png');}
#sub > .introduction .lnb > li:nth-child(2).on > a {background-image: url('../images/sub_cate1_lnb2_ov.png');}

#sub > .introduction > article > p {
    margin-top: 10px;
    line-height: 20px;
    color: #666;
}

#sub > .introduction > article > p > strong {
    font-weight: bold;
    color: #91BA15;
}

/* 장보기 */
#sub > .market .lnb > li:nth-child(1) > a {background-image: url('../images/sub_cate2_lnb1.png');}
#sub > .market .lnb > li:nth-child(1) > a:hover {background-image: url('../images/sub_cate2_lnb1_ov.png');}
#sub > .market .lnb > li:nth-child(1).on > a {background-image: url('../images/sub_cate2_lnb1_ov.png');}

#sub > .market > .list > .sort > a {
    color: #999;
}
#sub > .market > .list > .sort > .on {
    color:#111;
}
#sub > .market > .list > table {
    width: 100%;
    border-collapse: collapse;
    border-top: 1px solid #111;
    border-bottom: 1px solid #111;
    margin-top: 10px;
}
#sub > .market > .list > table tr {
    border-bottom: 1px solid #eee;
}

#sub > .market > .list > table tr > td {            
    padding: 10px;            
    box-sizing: border-box;
    color: #777;
}
#sub > .market > .list > table tr > td:nth-child(1) {width: 10%;}
#sub > .market > .list > table tr > td:nth-child(2) {width: 10%;}
#sub > .market > .list > table tr > td:nth-child(3) {width: 20%;}
#sub > .market > .list > table tr > td:nth-child(4) {width: 10%;}

#sub > .market > .list > table tr > td > strong {
    color: #111;
    font-weight: bold;            
}

#sub > .market > .list > .paging {
    margin: 20px 0;
    text-align: center;
}
#sub > .market > .list > .paging > a {
    color: #999;
}
#sub > .market > .list > .paging > .on {
    color: #111;
    text-decoration: underline;
}

#sub > .market > .view > h3 {
    margin: 10px 0;
    font-family: '고딕';
    font-size: 16px;
    font-weight: bold;
}

#sub > .market > .view > .basic {
    width: 100%;
    height: 270px;
    position: relative;
    overflow: hidden;
}
#sub > .market > .view > .basic > img {
    float: left;
}
#sub > .market > .view > .basic > table {
    float: right;
    width: 60%;
    height: 200px;
    margin-left: 16px;
    border-top: 2px solid #e7e7e7;
    border-bottom: 2px solid #e7e7e7;
}

#sub > .market > .view > .basic > table em {            
    color: #777;
}
#sub > .market > .view > .basic > table .total {
    font-weight: bold;
    color: #c20a0a;        
}

#sub > .market > .view > .basic > .btnOrder {
    position: absolute;
    right: 0;
    bottom: 0;
}


#sub > .market > .view > .detail {}
#sub > .market > .view > .delivery {}
#sub > .market > .view > .exchange table {
    width: 100%;
    border-collapse: collapse;                     
}
#sub > .market > .view > .exchange table tr {}
#sub > .market > .view > .exchange table td {
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
}
#sub > .market > .view > .exchange table td:first-child {border-left: none;}
#sub > .market > .view > .exchange table td:last-child {border-right: none;}

#sub > .market > .view > .exchange table ul > li {
    margin-left: 12px;
    list-style-type: disc;
    line-height: 18px;
}


input[type=number]{
    width: 60px;
    outline: none;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button {
    opacity: 1;         
}

#sub > .market > .order {}
#sub > .market > .order > h3 {
    margin: 10px 0;
    font-family: '고딕';
    font-size: 16px;
    font-weight: bold;
}

#sub > .market > .order > .info {
    width: 100%;
    height: 270px;
    position: relative;
    overflow: hidden;
}
#sub > .market > .order > .info > img {
    float: left;
}
#sub > .market > .order > .info > table {
    float: right;
    width: 60%;
    height: 200px;
    margin-left: 16px;
    border-top: 2px solid #e7e7e7;
    border-bottom: 2px solid #e7e7e7;
}

#sub > .market > .order > .info > table em {            
    color: #777;
}
#sub > .market > .order > .info > table .total {
    font-weight: bold;
    color: #c20a0a;        
}

#sub > .market > .order > .info > .btnOrder {
    position: absolute;
    right: 0;
    bottom: 0;
}


#sub > .market > .order > .shipping {}
#sub > .market > .order > .shipping table {
    width: 100%;
    border-collapse: collapse;
    border-top: 2px solid #be0808;            
}
#sub > .market > .order > .shipping table tr {}
#sub > .market > .order > .shipping table td {
    padding: 10px;
    border-bottom: 1px solid #d7d7d7;
}
#sub > .market > .order > .shipping table td:first-child {
    width: 120px;
    background: #f7f7f7;
}

#sub > .market > .order > .shipping input {
    height: 18px;
    border: 1px solid #d7d7d7;
    outline: none;
}

#sub > .market > .order > .shipping input[name=addr1] {
    display: block;
    width: 320px;
    margin-top: 2px;
}

#sub > .market > .order > .shipping input[name=addr2] {
    display: block;
    width: 320px;
    margin-top: 2px;
}

#sub > .market > .order > .shipping textarea {
    width: 320px;
    height: 60px;
    border: 1px solid #d7d7d7;
    resize: none;            
    outline: none;
}

#sub > .market > .order > p {
    margin: 16px 0;
    text-align: center;
}

#btnZip {
    width: 91px;
    height: 20px;
    background-image: url('../images/btn_post_search.gif');
    font-size: 0;
    border: none;
    margin-left: 4px;
    vertical-align: middle;            
}



/* 농작물 이야기 */
#sub > .croptalk .lnb > li:nth-child(1) > a {background-image: url('../images/sub_cate3_lnb1.png');}
#sub > .croptalk .lnb > li:nth-child(2) > a {background-image: url('../images/sub_cate3_lnb2.png');}
#sub > .croptalk .lnb > li:nth-child(3) > a {background-image: url('../images/sub_cate3_lnb3.png');}
#sub > .croptalk .lnb > li:nth-child(1) > a:hover {background-image: url('../images/sub_cate3_lnb1_ov.png');}
#sub > .croptalk .lnb > li:nth-child(2) > a:hover {background-image: url('../images/sub_cate3_lnb2_ov.png');}
#sub > .croptalk .lnb > li:nth-child(3) > a:hover {background-image: url('../images/sub_cate3_lnb3_ov.png');}
#sub > .croptalk .lnb > li:nth-child(1).on > a {background-image: url('../images/sub_cate3_lnb1_ov.png');}
#sub > .croptalk .lnb > li:nth-child(2).on > a {background-image: url('../images/sub_cate3_lnb2_ov.png');}
#sub > .croptalk .lnb > li:nth-child(3).on > a {background-image: url('../images/sub_cate3_lnb3_ov.png');}


/* 이벤트 */
#sub > .event .lnb > li:nth-child(1) > a {background-image: url('../images/sub_cate4_lnb1.png');}
#sub > .event .lnb > li:nth-child(1) > a:hover {background-image: url('../images/sub_cate4_lnb1_ov.png');}
#sub > .event .lnb > li:nth-child(1).on > a {background-image: url('../images/sub_cate4_lnb1_ov.png');}

/* 커뮤니티 */
#sub > .community .lnb > li:nth-child(1) > a {background-image: url('../images/sub_cate5_lnb1.png');}
#sub > .community .lnb > li:nth-child(2) > a {background-image: url('../images/sub_cate5_lnb2.png');}
#sub > .community .lnb > li:nth-child(3) > a {background-image: url('../images/sub_cate5_lnb3.png');}
#sub > .community .lnb > li:nth-child(4) > a {background-image: url('../images/sub_cate5_lnb4.png');}
#sub > .community .lnb > li:nth-child(5) > a {background-image: url('../images/sub_cate5_lnb5.png');}
#sub > .community .lnb > li:nth-child(1) > a:hover {background-image: url('../images/sub_cate5_lnb1_ov.png');}
#sub > .community .lnb > li:nth-child(2) > a:hover {background-image: url('../images/sub_cate5_lnb2_ov.png');}
#sub > .community .lnb > li:nth-child(3) > a:hover {background-image: url('../images/sub_cate5_lnb3_ov.png');}
#sub > .community .lnb > li:nth-child(4) > a:hover {background-image: url('../images/sub_cate5_lnb4_ov.png');}
#sub > .community .lnb > li:nth-child(5) > a:hover {background-image: url('../images/sub_cate5_lnb5_ov.png');}
#sub > .community .lnb > li:nth-child(1).on > a {background-image: url('../images/sub_cate5_lnb1_ov.png');}
#sub > .community .lnb > li:nth-child(2).on > a {background-image: url('../images/sub_cate5_lnb2_ov.png');}
#sub > .community .lnb > li:nth-child(3).on > a {background-image: url('../images/sub_cate5_lnb3_ov.png');}
#sub > .community .lnb > li:nth-child(4).on > a {background-image: url('../images/sub_cate5_lnb4_ov.png');}
#sub > .community .lnb > li:nth-child(5).on > a {background-image: url('../images/sub_cate5_lnb5_ov.png');}


/* user */
#sub > .user > article {
	float: none;
	width: 100%;
    min-height: auto;
	padding: 0 40px;
}

#sub > .user > article > nav {
	width: 100%;
}